<div class="col-12 col-lg-8" style="margin-bottom:20px;">
	<ul class="nav nav-pills nav-justified">
		<li class="<%= @dashactive %>"><a href="<%= dashboard_url %>">Dashboard</a></li>
		<li class="<%= @activityactive %>"><a href="<%= activity_url %>">Activity</a></li>
	</ul>
</div>