<div class="container">
	<div class="row">

		<%= render 'layouts/sidebar' %>
		<%= render 'dashboard/nav' %>

		<div class="col-12 col-lg-8">
			<div class="panel panel-primary" style="height:100%;">

				<div class="panel-heading text-center">
					<h1 class="panel-title">Getting Started</h1>
				</div>

				<h2>About Lifr</h2>
				<p>There's a lot to this idea. Nothing yet actually happening though, other than me wasting a bunch of time playing around with the new bootstrap. I really need to make a template that sets up a lot of this stuff for me from now on.</p>

			</div>
		</div>
				
	</div>
</div>