<div class="container">

	<div class="row">

		<div class="col-lg-8 col-lg-offset-2">

			<div class="panel panel-primary">

				<div class="panel-heading">
					<strong>About Lifr</strong>
				</div>
				
				<dl class="dl-horizontal">
					<dt>What is Lifr?</dt>
					<dd>Lifr is an ongoing experiment. It is a to-do app that is also a game. There will be multiple iterations and different things added all the time. Part of it is trying to test new features and things, but the other part is just making this into an application that I would use.</dd>
					<hr/>
					<dt>Goals</dt>
					<dd>Trying out features like this. Also I want to make it look really nice. I think I might not do the to-do list type thing. I think this might just be some sort of weird RPG type thing. I'll throw ads in it. Maybe go for some weird niche RPG element that would make it fun. Get points for doing things around the internet, and win stuff maybe?</dd>
				</dl>

			</div>
		</div>

		

	</div>

</div>