<div class="container">

	<div class="row">

		<div class="col-lg-8 col-lg-offset-2">

			<div class="panel panel-primary">

				<div class="panel-heading">
					<strong>About Lifr</strong>
				</div>
				
				<dl class="dl-horizontal">
					<dt>What is Lifr?</dt>
					<dd>Lifr is something that I am doing in my spare time that is actually nothing at the moment. I want to make some sort of gaming functionality, but I don't know if this will actually be anything other than an experiment or something to do in my spare time. The amount of things I can do more easily in this version of bootstrap is amazing. I'm kind of upset that LandSpec Pro is using the old Bootstrap. I want to update it, but everything is so much different.</dd>
					<hr/>
					<dt>What else?</dt>
					<dd>I want to try out some ideas and see if I can make a website and actually follow Rails guidelines for building an application and see if it is less messy and easier to code.</dd>
					<hr/>
					<dt>Goals</dt>
					<dd>Trying out features like this. Also I want to make it look really nice. I think I might not do the to-do list type thing. I think this might just be some sort of weird RPG type thing. I'll throw ads in it. Maybe go for some weird niche RPG element that would make it fun. Get points for doing things around the internet, and win stuff maybe?</dd>
				</dl>

			</div>
		</div>

		

	</div>

</div>