<div class="container">

	<div class="row">

		<%= render 'layouts/sidebar' %>

		<div class="col-12 col-lg-8">

			<ul class="nav nav-pills nav-justified">
				<li class="active"><a href="#">News</a></li>
				<li><a href="#">Activity</a></li>
				<li><a href="#">Help</a></li>
			</ul>

			<br/>

			<div class="panel panel-primary">
				<div class="panel-heading">
					Nice to meet you<span class="badge pull-right" style="background-color:white; color:black;">51</span>
				</div>
				<p>This is some intro text. Enjoy it.</p>

				<a href="<%= damage_url %>"><button type="button" class="btn btn-danger">Damage!</button></a>
			</div>
		</div>

	</div>

</div>