<div class="container">

	<div class="row">

		<div class="col-12 col-lg-4 pull-right">
			<div class="panel panel-primary" style="height:100%;">
				<div class="panel-heading text-center">
						Your Stats
					</span>
				</div>
				<p>
					<strong>HP: 45/100</strong>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" style="width: 45%"></div>
					</div>

					<strong>MP: 100/100</strong>
					<div class="progress">
						<div class="progress-bar" style="width: 100%"></div>
					</div>

					<strong>Exp to Next Level: 8/100</strong>
					<div class="progress">
						<div class="progress-bar progress-bar-success" style="width: 8%"></div>
					</div>

					<div class="btn-group-vertical sidebar-btn-group">
						<button type="button" class="btn btn-default">Travel</button>
						<button type="button" class="btn btn-default">Shop</button>
						<button type="button" class="btn btn-default">Logout</button>
					</div>
				</p>
			</div>
		</div>

		<div class="col-12 col-lg-8">

			<ul class="nav nav-pills nav-justified">
				<li class="active"><a href="#">News</a></li>
				<li><a href="#">Activity</a></li>
				<li><a href="#">Help</a></li>
			</ul>

			<br/>

			<div class="panel panel-primary">
				<div class="panel-heading">
					Nice to meet you<span class="badge pull-right" style="background-color:white; color:black;">51</span>
				</div>
				<p>This is some intro text. Enjoy it.</p>
			</div>
		</div>

		

	</div>

</div>