<div class="container">

	<div class="row">

		<div class="col-lg-6 col-lg-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Welcome to Lifr</h3>
				</div>


					<form class="form">

						<fieldset>

							<legend>Login</legend>

							<div class="text-center">

								<!--[if lt IE 10]>Email or Username<![endif]-->
								<div class="form-group col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3">
									<input type="text" class="form-control " id="email" placeholder="Enter Email or Username">
								</div>

								<!--[if lt IE 10]>Password<![endif]-->
								<div class="form-group col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3">
									<input type="text" class="form-control " id="password" placeholder="Enter Password">
								</div>

								<div>
									<button type="submit" class="btn btn-primary col-lg-4 col-lg-offset-4 col-sm-4 col-sm-offset-4">Submit</button>
								</div>

							</div>

						</fieldset>

					</form>

			</div>		
		</div>

	</div>

</div>